<template>
    <div>
        <form class="relative mt-10" @submit.prevent="submit">
            <div class="flex">
                <label class="relative block w-full">
                    <span class="sr-only">Search</span>
                    <input v-model="query" class="block bg-white w-full border border-slate-300 rounded-md py-2 pl-4 pr-3 shadow-sm" placeholder="Search for anything..." type="text" required />
                </label>

                <button class="ml-5 bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white">
                Search
                </button>
            </div>
        </form>

        <div class="flex flex-col mt-8">
            <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                    <div v-if="!loading">
                        <table v-if="jobs.length" class="min-w-full">
                            <thead>
                                <tr>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Title</th>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Company</th>
                                    <th
                                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                                        Location</th>
                                </tr>
                            </thead>

                            <tbody class="bg-white">
                                <tr v-for="(job, index) in jobs" :key="index">
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm font-medium leading-5 text-gray-900">
                                            <a :href="`/jobs/${job.slug}?keyword=${query}`">{{ job.title }}</a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm font-medium leading-5 text-gray-900">
                                        {{ job.company }}
                                        </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm font-medium leading-5 text-gray-900">
                                        {{ job.location }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div v-else class="text-center mt-5 mb-5">
                            <h3>no results found.</h3>
                        </div>
                    </div>
                    <div v-else class="text-center mt-5 mb-5">
                        <h3>loading...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            query: '',
            jobs: []
        }
    },

    mounted () {
        this.fetchJobs();
    },
    methods: {
        fetchJobs(query = '') {
            axios.post('/jobs/search', {
                query: this.query
            })
            .then((response)=>{
                this.jobs = response.data.data;
                this.loading = false;
            })
        },

        submit() {
            this.loading = true;
            this.fetchJobs(this.query);
        }
    }
}
</script>
